@tailwind base;
@tailwind components;
@tailwind utilities;


.hover-img::before {
    content: "";
    position: absolute;
    z-index: 11;
    width: 100%;
    height: 40%;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(4, 3, 17, 1) 100%
    );
}

.animation-typing::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background:rgba(4, 3, 17);
  animation: typing 5s steps(60) infinite;
}

@keyframes typing {
  100%{
    left:100%;
    margin: 0 -1px 0 1px;
  }
}
